<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Dashboard</title>

    <link rel="stylesheet" href="/static/css/dashboard.css">

</head>

<body>

<div class="container">

    <img src="/static/images/logo.png"
         class="logo">

    <h1>Mind Masters AI Solutions</h1>

    <h2>🎉 Login Successful</h2>

    <p>Welcome to Mind Masters AI Solutions</p>

    <p>AI Powered Authentication System</p>

    <br>

    <div id="today"></div>

    <button id="logoutBtn">
        Logout
    </button>

</div>

<script src="/static/js/dashboard.js"></script>

</body>
</html>